
.img_style{
    border-radius: 100px;
}

.Card_style{ 
    border-radius: 10px;
    background-color: aliceblue;
    color: black;
}
.div_style{
    padding-left: 10px;
    width: 100%;
}
.veiw_more{
    text-align:'left';
     width:'100%';
}
.text_style{
    color: darkgray;
} 
.cardimg_style{
    border-radius: 10px;
    width: 100%;
}
